## Chi-Square Tests

***

In [1]:
# Data frames.
import pandas as pd

# Shuffle
import random

## Laerd Statistics Chi-Square Test for Independence

https://statistics.laerd.com/spss-tutorials/chi-square-test-for-association-using-spss-statistics.php

***

In [2]:
# Sixteen Males who preferred Books.
male_books = [["Male", "Books"]] * 16

# Show
male_books

[['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books']]

In [3]:
# Therteen Female who preferred Books.
female_books = [["Female", "Books"]] * 13

# Show
female_books

[['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books']]

In [4]:
# Twenty-four Males who preferred online.
male_online = [["Male", "Online"]] * 24

# Show
male_online

[['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online']]

In [5]:
# Twenty-seven Females who preferred online.
female_online = [["Female", "Online"]] * 27

# Show
female_online

[['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online']]

In [6]:
# Raw data, merge the four lists

raw_data = male_books + male_online + female_books + female_online

# show raw data
raw_data

[['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online']]

In [7]:
# Shuffle the data

random.shuffle(raw_data)

# show raw_data
raw_data

[['Female', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Female', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Books'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Books'],
 ['Male', 'Books'],
 ['Male', 'Books'],
 ['Female', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Female', 'Books'],
 ['Female', 'Books'],
 ['Female', 'Online'],
 ['Male', 'Books'],
 ['Male', 'Online'],
 ['Male', 'Online'],
 ['Female', 'Online'],
 ['Male', 'Online']]

In [8]:
# Zip the list - make the rows columns and the columns rows
# Interchange the outer and inner lists
gender, medium = list(zip(*raw_data))

# Show gender, medium
gender, medium

(('Female',
  'Male',
  'Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Female',
  'Male',
  'Female',
  'Male',
  'Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Female',
  'Male',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Female',
  'Female',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Male',
  'Male',
  'Male',
  'Female',
  'Female',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Female',
  'Male',
  'Male',
  'Female',
  'Male',
  'Female',
  'Female',
  'Female',
  'Female',
  'Male',
  'Male',
  'Male',
  'Female',
  'Male'),
 ('Books',
  'Online',
  'Online',
  'Online',
  'Online',
  'Books',
  'Online',
  'Books',
  'Online',
  'Books',
  'Online',
  'Books',
  'Online',
  'Books',
  'Books',
  'Online',
  'Books',
  'Online',
  'Online',
  'Online',
  'Books',
  'Online',
  'Online',
  'Books',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Books',
  'Online',
  'Online',
  'Online',
  'Books',
  'Books',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Books',
  'Books',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Online',
  'Books',
  'Books',
  'Books',
  'Books',
  'Books',
  'Online',
  'Books',
  'Online',
  'Books',
  'Online',
  'Books',
  'Online',
  'Online',
  'Books',
  'Books',
  'Books',
  'Online',
  'Online',
  'Online',
  'Books',
  'Books',
  'Online',
  'Books',
  'Online',
  'Online',
  'Online',
  'Online'))

In [9]:
# create a data frame
df = pd.DataFrame({"gender": gender, "medium": medium})

# show
df

    gender  medium
0   Female   Books
1     Male  Online
2     Male  Online
3   Female  Online
4   Female  Online
..     ...     ...
75    Male   Books
76    Male  Online
77    Male  Online
78  Female  Online
79    Male  Online

[80 rows x 2 columns]

***

## End

***